ABAS_HOMEDIR=/mnt1/update/s3
ABAS_CLIENTDIR=/mnt1/update/erp
ABAS_CLIENTID=erp

EDP_CLIENT=/mnt1/update/erp
EDP_USER=s3
EDP_PASSWORD=sy
EDP_HOST=6.180.10.165
EDP_PORT=6560

NEXUS_HOST=6.180.10.165
NEXUS_PORT=8081
NEXUS_NAME=docker
NEXUS_PASSWORD=admin123

SSH_HOST=6.180.10.165
SSH_PORT=2205
SSH_USER=s3
SSH_PASSWORD=none
SSH_KEY=

installType=SSH

version = 0.0.1-SNAPSHOT
